body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --main-navbar-back: #00003c;

}


.nav-logo{
  width: 100px;
  height: auto;
}

/* main navbar */
.main-navbar{
  background-color: var(--main-navbar-back) !important;
}

/* secondary navbar */
.secondary-navbar{
  margin-top: 10vh !important;
  margin: auto;
}

/* body content */
.body-content{
  margin: auto;
  width: 90%;
  margin-top: 2vh;
}

/* -------------------css for form starts here */
/* form section means outsice the <form> tag */

.form-section{
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2vh;
}

/* input fields */
.input-fields{
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.input-fields label{
  margin-right: 2vw;
  width: 200px;
}

.form-left,.form-right{
 
  margin-left: 1em;
  margin-right: 1em;
}

/* -----------------css for form ends here */


/* login page */
